/* If BODY has the loading class, hide the app */
body.loading #app {
  display: none;
}

/* If BODY doesn't have the loading class, hide the splash screen */
body:not(.loading) #splash-screen {
  display: none;
}

/* If BODY has the loading class, show the splash screen */
body.loading #splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  border: 8px solid #3498db;
  border-top: 8px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.app-logo {
  max-height: var(--f7-navbar-height);
  margin-left: calc(
    var(--f7-card-expandable-margin-horizontal) + var(--f7-safe-area-left)
  );
  margin-right: 20px;
}

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  z-index: 6000;
}

/* Expandable Cards in Photo List view */
@media (min-width: 768px) {
  .expandable-cards-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .expandable-cards-grid .card {
    flex-shrink: 10;
    min-width: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .expandable-cards-grid .card {
    width: calc((100% - var(--f7-card-expandable-margin-horizontal) * 3) / 2);
  }
  .expandable-cards-grid .card:nth-child(2),
  .expandable-cards-grid .card:nth-child(4) {
    margin-left: 0;
  }
  .expandable-cards-grid .card:nth-child(n + 3) {
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .expandable-cards-grid .card {
    width: calc((100% - var(--f7-card-expandable-margin-horizontal) * 4) / 3);
    margin-right: 0;
  }
}

.card-expandable .card-content {
  width: unset; /* default to 100vw, but this makes makes the card too wide */
}

@media (min-width: 768px) and (min-height: 670px) {
  .card-expandable:not(.card-opened) .card-content {
    width: unset !important; /* in Grid view, we want to unset the width only when card is closed (otherwise, the Badge will be cut off) */
  }
}

/* Sheet Modal */
@media ((min-width: 460px)) {
  .sheet-modal {
    /* set max width */
    width: 400px;
    /* add some shadow */
    box-shadow: var(--f7-card-box-shadow);
    margin-left: var(--f7-message-margin);
  }
}

/* Limit width of .sheet-modal on large screens */
@media (min-width: 960px) {
  .sheet-modal {
    margin-left: calc(var(--f7-panel-width) + var(--f7-message-margin));
  }
}

/* Sheet Swipe To Close */

.sheet-modal {
  --f7-sheet-border-color: transparent;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.swipe-handler {
  height: 16px;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  background: none;
  cursor: pointer;
  z-index: 10;
}

.swipe-handler:after {
  content: "";
  width: 36px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -3px;
  border-radius: 3px;
  background: #666;
}

.active-guide-sheet .swipe-handler:after {
  background: #ffffff;
}

/* Swiper Element custom styles */
swiper-container {
  height: 150px;
  width: 100%;
}

swiper-container::part(bullet-active) {
  background-color: white;
}

swiper-container .swiper-slide-custom {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-container .image-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-label-2 {
  background-color: rgba(225, 225, 225, 0.8);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}
