/* If BODY has the loading class, hide the app */
body.loading #app {
  display: none;
}

/* If BODY doesn't have the loading class, hide the splash screen */
body:not(.loading) #splash-screen {
  display: none;
}

/* If BODY has the loading class, show the splash screen */
body.loading #splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-icon {
  border: 8px solid #3498db;
  border-top: 8px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  content: "";
  z-index: 6000;
}

/* Sheet Swipe To Close */
.sheet-swipe-to-close,
.sheet-swipe-to-step {
  --f7-sheet-border-color: transparent;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.sheet-swipe-to-close .swipe-handler,
.sheet-swipe-to-step .swipe-handler {
  background: none;
}
.swipe-handler {
  height: 16px;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  background: #fff;
  cursor: pointer;
  z-index: 10;
}
.swipe-handler:after {
  content: "";
  width: 36px;
  height: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -3px;
  border-radius: 3px;
  background: #666;
}

/* Swipers Demo */
.demo-swiper {
  width: 100%;
  height: 100%;
}
.demo-swiper swiper-slide,
.demo-swiper-multiple swiper-slide,
.demo-swiper::part(slide),
.demo-swiper-multiple::part(slide) {
  font-size: 25px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
  color: #000;
}
.demo-swiper-multiple swiper-slide {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
}
.demo-swiper-multiple {
  margin: 0px 0 35px;
  font-size: 18px;
  height: 120px;
}
.demo-swiper-multiple.demo-swiper-multiple-auto swiper-slide {
  width: 85%;
}
.demo-swiper-multiple.demo-swiper-multiple-auto swiper-slide:nth-child(2n) {
  width: 70%;
}
.demo-swiper-multiple.demo-swiper-multiple-auto swiper-slide:nth-child(3n) {
  width: 30%;
}
.demo-swiper-custom {
  height: 100%;
}
.demo-swiper-custom .swiper,
.demo-swiper-custom swiper-container {
  background: #000;
  height: 100%;
}
.demo-swiper-custom swiper-slide {
  background-size: cover;
  background-position: center;
}
.demo-swiper-custom .swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  border-radius: 0;
  transition: 200ms;
  position: relative;
  transform: scale(0.9);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.8);
}
.demo-swiper-custom .swiper-pagination .swiper-pagination-bullet-active {
  z-index: 1;
  border: 1px solid #007aff;
  transform: scale(1.4);
}
.demo-swiper-cube {
  width: 80%;
  height: 70%;
  top: 15%;
}
.demo-swiper-slide-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.demo-swiper-slide-content span {
  position: relative;
  z-index: 1;
}
.demo-swiper-slide-content img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
}
.demo-swiper-coverflow {
  height: 60%;
  top: 20%;
}
.demo-swiper-coverflow::part(slide) {
  width: 65%;
}
.demo-swiper-cube::part(slide),
.demo-swiper-coverflow::part(slide) {
  background-size: cover;
  color: #fff;
  -webkit-backface-visibility: hidden;
}
.demo-swiper-fade swiper-slide {
  background-size: cover;
  background-position: center;
}
.demo-swiper-gallery-top {
  height: 70%;
}
.demo-swiper-gallery-thumbs {
  margin-top: 10px;
  height: 20%;
  height: -webkit-calc(30% - 20px);
  height: -moz-calc(30% - 20px);
  height: -ms-calc(30% - 20px);
  height: calc(30% - 20px);
}
.demo-swiper-gallery-thumbs .swiper-slide-pic {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  transition: 300ms;
}
.demo-swiper-gallery-thumbs .swiper-slide-thumb-active .swiper-slide-pic {
  opacity: 1;
}
.demo-swiper-gallery-top swiper-slide,
.demo-swiper-gallery-thumbs .swiper-slide-pic {
  background-size: cover;
  background-position: center;
}
.demo-swiper-parallax {
  height: 100%;
}
.demo-swiper-parallax .swiper-parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.demo-swiper-parallax swiper-slide {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
  color: #fff;
}
.demo-swiper-parallax .swiper-slide-title {
  font-size: 41px;
  font-weight: 300;
}
.demo-swiper-parallax .swiper-slide-subtitle {
  font-size: 21px;
}
.demo-swiper-parallax .swiper-slide-text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
.demo-swiper-lazy {
  height: 100%;
}
.demo-swiper-lazy swiper-slide {
  position: relative;
}
.demo-swiper-lazy swiper-slide img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
